
.App {
  text-align: center;
}
/* ---------------------------
----------phone screen----- */
@media only screen and (max-width: 420px){
*{
  margin: 0;
  
}

.navbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(214, 165, 100, 0.7);
  border-bottom:  thin solid  black;
}
.add-button{
  display: flex;
  flex-direction: row;
    align-items: center;
}
h6{
  padding: 5px;
}
.title{
  font-size: 21px;
  font-family: 'Londrina Shadow';
  text-decoration: none;
  color: black;
}
.home{
  font-family: 'Londrina Shadow';
  font-size: 36px;
}
.card{
  text-decoration: none;
}
.image{
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-vRpVT81Gi5WE551Ds93RkGzAFtaR8MpH-Q&usqp=CAU');
  background-position: center;

background-size: contain;;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.entry-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 95vh;
  list-style-type: none;
  margin: auto ;
  margin-right: 10px;
  padding: 20px;
text-align: center;
}
.entry-card{
  text-decoration: none;
  color:black;
  padding-bottom:5px ;
  width: 60vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin: 10px;
  background-color: rgb(214, 165, 100, 0.4);
  border:thin solid black;
  border-radius: 5%;
  color: black;
}
.card-title{
  font-size: 32px;
  font-family: 'Journal';
}
time{
  font-size: 14px;
}
.button-title{
  font-family: 'Journal';
  font-size: 22px;
}
.main-detail{
  display: flex;
  justify-content: center;
  background-color: rgb(214, 165, 100, 0.4);
  border-radius: 10%;
  margin-top: 20px;
  height: 100%;
}
.entry-title {
  font-family: 'Londrina Shadow';
}
.detail{
  font-family: 'Journal';
  font-size: 30px;
}
.detail-topic{
  font-family: 'Journal';
  font-size: 30px;
}
.p{
  font-family: 'Journal';
  font-size: 30px;
}
.delete {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 20px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  margin-top: 5px;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}
}

