.App {
  text-align: center;
}
/* ---------------------------
----------phone screen----- */
@media only screen and (max-width: 420px){
*{
  margin: 0;
}
.navbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: aqua;
}
h1{
  font-size: 20px;
}
}

